In [1]:
import pandas as pd

In [2]:
data = {"ProductName": ['Product A', 'Product B', 'Product C'], "ProductPrice": [22250, 16600, 12500]} # arrays must be the same length and data type.
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [3]:
data = {"ProductName": ['Product A', 'Product B', 'Product C'], "ProductPrice": [22250, 16600, 12500]} # Specifying the index.
product_id = ['A', 'B', 'C']
df = pd.DataFrame(data, index = product_id)
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [4]:
data = [{'ProductName': 'Product A', 'ProductPrice': 22250},
       {'ProductName': 'Product B', 'ProductPrice': 166600},
       {'ProductName': 'Product C', 'ProductPrice': 12500}]
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B        166600
2   Product C         12500

Content must be provided for all columns.

In [5]:
data = [{'ProductName': 'Product A', 'ProductPrice': 22250},
       {'ProductName': 'Product B', 'ProductPrice': 166600},
       {'ProductName': 'Product C', 'ProductPrice': [12500, 10000]}]
df = pd.DataFrame(data)
df # data is inconsistant here.

  ProductName    ProductPrice
0   Product A           22250
1   Product B          166600
2   Product C  [12500, 10000]

Using a Series to construct a DataFrame

In [7]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'])
ser_prices = pd.Series([22250, 16600, 12500])

Next add the name of the columns.

In [8]:
data = {'ProductName': ser_products, 'ProductPrice': ser_prices}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

To add the same number of indices upon the creattion of every Series that is set to represent a column in our new DataFrame

In [10]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'], index = ['A', 'B', 'C'])
ser_prices = pd.Series([22250, 16600, 12500], index = ['A', 'B', 'C'])

data = {"ProductName": ser_products, "ProductPrice" : ser_prices}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

IF the order of indices is changed in one of the series, Python will match its elements with their corresponding indices.

In [11]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'], index = ['A', 'B', 'C'])
ser_prices = pd.Series([22250, 16600, 12500], index = ['C', 'B', 'A'])

data = {"ProductName": ser_products, "ProductPrice" : ser_prices}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
A   Product A         12500
B   Product B         16600
C   Product C         22250

In [12]:
data = [["Product A", 22250], ["Product B", 16600], ["Product C", 12500]]
df = pd.DataFrame(data)
df

           0      1
0  Product A  22250
1  Product B  16600
2  Product C  12500

In [13]:
data = [["Product A", 22250], ["Product B", 16600], ["Product C", 12500, 5000]]
df = pd.DataFrame(data)
df

           0      1       2
0  Product A  22250     NaN
1  Product B  16600     NaN
2  Product C  12500  5000.0

In [14]:
data = [["Product A", 22250], ["Product B", 16600], ["Product C", 12500]]
df = pd.DataFrame(data)
df.columns = ["ProductNmae", "ProductPrice"]
df

  ProductNmae  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [15]:
data = [["Product A", 22250], ["Product B", 16600], ["Product C", 12500]]
df = pd.DataFrame(data)
df.columns = ["ProductNmae", "ProductPrice"]
df.index = ['A', 'B', 'C']
df

  ProductNmae  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

The professional way of making a Data Frame

In [16]:
df = pd.DataFrame(data = [["Product A", 22250], ["Product B", 16600], ["Product C", 12500]],
                 columns = ["ProductNmae", "ProductPrice"], index = ['A', 'B', 'C'])
df

  ProductNmae  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [17]:
df.shape

(3, 2)