In [1]:
t = (4, 5 , 6)
l = [10.5, 20.75, 30.00]
s = "abcd"

In [2]:
for i in t:
    print(i)

4
5
6

In [3]:
for i in t:
    print(i, end=" ")

4 5 6

In [4]:
range(5)

range(0, 5)

In [5]:
for i in range(5):
    print(i, end=" ")

0 1 2 3 4

Nested loops

In [6]:
for i in range(2):
    print(i)

0
1

In [7]:
for j in range(5):
    print(j)

0
1
2
3
4

In [8]:
for i in range(2):
    for j in range(5):
        print(j)

0
1
2
3
4
0
1
2
3
4

In [9]:
for i in range(2):
    for j in range(5):
        print([i, j])

[0, 0]
[0, 1]
[0, 2]
[0, 3]
[0, 4]
[1, 0]
[1, 1]
[1, 2]
[1, 3]
[1, 4]

In [10]:
for i in ["Product A", "Product B"]:
    for j in range(5):
        print([i, j])

['Product A', 0]
['Product A', 1]
['Product A', 2]
['Product A', 3]
['Product A', 4]
['Product B', 0]
['Product B', 1]
['Product B', 2]
['Product B', 3]
['Product B', 4]

In [11]:
products = ["Product A", "Product B"]
sales = [10000, 110000, 12000, 11300, 140000]

In [12]:
for i in products:
    for j in sales:
        print([i, j])

['Product A', 10000]
['Product A', 110000]
['Product A', 12000]
['Product A', 11300]
['Product A', 140000]
['Product B', 10000]
['Product B', 110000]
['Product B', 12000]
['Product B', 11300]
['Product B', 140000]

In [13]:
time = (1, 3, 12)

In [15]:
for i in products:
    for j in sales:
        for k in time:
            print([i, j*k])

['Product A', 10000]
['Product A', 30000]
['Product A', 120000]
['Product A', 110000]
['Product A', 330000]
['Product A', 1320000]
['Product A', 12000]
['Product A', 36000]
['Product A', 144000]
['Product A', 11300]
['Product A', 33900]
['Product A', 135600]
['Product A', 140000]
['Product A', 420000]
['Product A', 1680000]
['Product B', 10000]
['Product B', 30000]
['Product B', 120000]
['Product B', 110000]
['Product B', 330000]
['Product B', 1320000]
['Product B', 12000]
['Product B', 36000]
['Product B', 144000]
['Product B', 11300]
['Product B', 33900]
['Product B', 135600]
['Product B', 140000]
['Product B', 420000]
['Product B', 1680000]

In [16]:
for i in products:
    for j in sales:
        for k in time:
            print('Expectsed sales for a period of {0} months for {1}: ${sales}'.format(k, i, sales = j*k))

Expectsed sales for a period of 1 months for Product A: $10000
Expectsed sales for a period of 3 months for Product A: $30000
Expectsed sales for a period of 12 months for Product A: $120000
Expectsed sales for a period of 1 months for Product A: $110000
Expectsed sales for a period of 3 months for Product A: $330000
Expectsed sales for a period of 12 months for Product A: $1320000
Expectsed sales for a period of 1 months for Product A: $12000
Expectsed sales for a period of 3 months for Product A: $36000
Expectsed sales for a period of 12 months for Product A: $144000
Expectsed sales for a period of 1 months for Product A: $11300
Expectsed sales for a period of 3 months for Product A: $33900
Expectsed sales for a period of 12 months for Product A: $135600
Expectsed sales for a period of 1 months for Product A: $140000
Expectsed sales for a period of 3 months for Product A: $420000
Expectsed sales for a period of 12 months for Product A: $1680000
Expectsed sales for a period of 1 months for Product B: $10000
Expectsed sales for a period of 3 months for Product B: $30000
Expectsed sales for a period of 12 months for Product B: $120000
Expectsed sales for a period of 1 months for Product B: $110000
Expectsed sales for a period of 3 months for Product B: $330000
Expectsed sales for a period of 12 months for Product B: $1320000
Expectsed sales for a period of 1 months for Product B: $12000
Expectsed sales for a period of 3 months for Product B: $36000
Expectsed sales for a period of 12 months for Product B: $144000
Expectsed sales for a period of 1 months for Product B: $11300
Expectsed sales for a period of 3 months for Product B: $33900
Expectsed sales for a period of 12 months for Product B: $135600
Expectsed sales for a period of 1 months for Product B: $140000
Expectsed sales for a period of 3 months for Product B: $420000
Expectsed sales for a period of 12 months for Product B: $1680000