In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("location.csv", squeeze = True)
location_data = data.copy()
location_data.head()

0     Location 3
1     Location 6
2     Location 8
3    Location 26
4    Location 34
Name: Location, dtype: object

In [3]:
location_data.index

RangeIndex(start=0, stop=1043, step=1)

In [4]:
location_data.name

'Location'

In [5]:
location_data.index.name

In [6]:
location_data.index.name = "Index"

In [7]:
location_data

Index
0        Location 3
1        Location 6
2        Location 8
3       Location 26
4       Location 34
           ...
1038    Location 73
1039    Location 82
1040    Location 11
1041    Location 26
1042    Location 94
Name: Location, Length: 1043, dtype: object

In [8]:
location_data.index.name

'Index'

In [9]:
location_data.sort_values()

Index
637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
          ...
482    Location 97
128    Location 97
669    Location 97
757    Location 98
372    Location 99
Name: Location, Length: 1043, dtype: object

In [10]:
location_data.sort_values().head()

Index
637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
Name: Location, dtype: object

In [11]:
location_data.index.to_numpy()

array([   0,    1,    2, ..., 1040, 1041, 1042])