In [1]:
import pandas as pd

In [2]:
numbers = pd.Series([15, 1000, 23, 45, 444])
numbers

0      15
1    1000
2      23
3      45
4     444
dtype: int64

In [3]:
numbers.sort_values()

0      15
2      23
3      45
4     444
1    1000
dtype: int64

In [4]:
numbers.sort_values(ascending=True)

0      15
2      23
3      45
4     444
1    1000
dtype: int64

In [6]:
numbers.sort_values(ascending=False)

1    1000
4     444
3      45
2      23
0      15
dtype: int64

In [9]:
data = pd.read_csv("location.csv", squeeze= True)
location_data = data.copy()
location_data.head()

0     Location 3
1     Location 6
2     Location 8
3    Location 26
4    Location 34
Name: Location, dtype: object

In [10]:
location_data.sort_values()

637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
          ...
482    Location 97
128    Location 97
669    Location 97
757    Location 98
372    Location 99
Name: Location, Length: 1043, dtype: object

In [11]:
location_data.sort_values(ascending=True)

637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
          ...
482    Location 97
128    Location 97
669    Location 97
757    Location 98
372    Location 99
Name: Location, Length: 1043, dtype: object

In [12]:
location_data.sort_values(ascending=False)

372    Location 99
757    Location 98
669    Location 97
128    Location 97
482    Location 97
          ...
623    Location 10
716    Location 10
465     Location 1
884     Location 1
637     Location 1
Name: Location, Length: 1043, dtype: object