In [1]:
a1, b1 = (1, 2)

In [2]:
type(a1)

int

In [3]:
a2 = 4.75

In [4]:
a2

4.75

In [5]:
type(a2)

float

In [6]:
int(a2)

4

In [7]:
float(b1)

2.0

In [8]:
a3 = True

In [9]:
a3

True

In [10]:
type(a3)

bool

In [11]:
b2 = 10
print(str(b2) + " Dolla")

10 Dolla

In [12]:
16/3

5.333333333333333

In [13]:
b2

10

In [14]:
b2 == 15

False

In [15]:
if 5 == 15/3:
    print("Boom")

Boom

In [16]:
if 5 == 18/3:
    print("yes")

In [17]:
def simple():
    print("I am a function")

In [18]:
simple()

I am a function

In [19]:
def plus_10(a):
    x = a + 10
    return x

In [20]:
plus_10(10)

20

In [21]:
def wage(w):
    return w * 25

def with_bounus(w):
    return wage(w) + 50

In [22]:
wage(8), with_bounus(8)

(200, 250)

In [23]:
learners = ["Jessica", "Greg", "Tom", "Allison"]
learners

['Jessica', 'Greg', 'Tom', 'Allison']

In [24]:
learners[0]

'Jessica'

In [25]:
learners[1]

'Greg'

In [26]:
learners[-1]

'Allison'

In [27]:
learners[-2]

'Tom'

In [28]:
learners[-1] = "Louisa"

In [29]:
learners

['Jessica', 'Greg', 'Tom', 'Louisa']

In [30]:
del learners[-2]
learners

['Jessica', 'Greg', 'Louisa']

In [31]:
learners.append("Michael")
learners

['Jessica', 'Greg', 'Louisa', 'Michael']

In [32]:
learners.extend(["Trevor", "David"])
learners

['Jessica', 'Greg', 'Louisa', 'Michael', 'Trevor', 'David']

In [33]:
print("the learners are: " + learners[0] + ".")

the learners are: Jessica.

In [34]:
len(learners)

6

In [35]:
len("Dolphin")

7

In [36]:
learners

['Jessica', 'Greg', 'Louisa', 'Michael', 'Trevor', 'David']

In [37]:
learners[1:2]
learners

['Jessica', 'Greg', 'Louisa', 'Michael', 'Trevor', 'David']

In [38]:
learners

['Jessica', 'Greg', 'Louisa', 'Michael', 'Trevor', 'David']

In [39]:
learners[1:3:1]

['Greg', 'Louisa']

In [40]:
learners

['Jessica', 'Greg', 'Louisa', 'Michael', 'Trevor', 'David']

In [41]:
learners[1:3]

['Greg', 'Louisa']

In [42]:
learners

['Jessica', 'Greg', 'Louisa', 'Michael', 'Trevor', 'David']

In [43]:
learners[1:3]
learners

['Jessica', 'Greg', 'Louisa', 'Michael', 'Trevor', 'David']

In [44]:
learners[:2]

['Jessica', 'Greg']

In [45]:
learners[4:]

['Trevor', 'David']

In [46]:
learners[-2:]

['Trevor', 'David']

In [47]:
learners.index("Michael")

3

In [48]:
newLearners = ["Tim", "Hunter"]
newLearners

['Tim', 'Hunter']

In [49]:
twoD = [learners, newLearners]
twoD

[['Jessica', 'Greg', 'Louisa', 'Michael', 'Trevor', 'David'],
 ['Tim', 'Hunter']]

In [50]:
learners.sort()

In [51]:
learners

['David', 'Greg', 'Jessica', 'Louisa', 'Michael', 'Trevor']

In [52]:
newLearners.sort(reverse=True)
newLearners

['Tim', 'Hunter']

In [53]:
twoD

[['David', 'Greg', 'Jessica', 'Louisa', 'Michael', 'Trevor'],
 ['Tim', 'Hunter']]

In [54]:
tx = (41, 40, 44)
tx

(41, 40, 44)

In [55]:
de = 55, 34, 52
de

(55, 34, 52)

In [56]:
list_1 = [tx, de]
list_1

[(41, 40, 44), (55, 34, 52)]

In [59]:
(age, years_of_school) = "30,17".split(',')
print("age" , age)
print("school", years_of_school)

age 30
school 17

In [60]:
def square_info(x):
    A = x ** 2
    P = 4 * x
    print("Area and Parameter: ")
    return A, P
square_info(3)

Area and Parameter:

(9, 12)

In [61]:
my_dict = {'k1': "cat", 'k2': "mouse", 'k3': "dog", 'k4': "fish"}
my_dict

{'k1': 'cat', 'k2': 'mouse', 'k3': 'dog', 'k4': 'fish'}

In [63]:
my_dict['k1']

'cat'

In [65]:
my_dict['k2']

'mouse'

In [67]:
my_dict['k5'] = "cow"
my_dict

{'k1': 'cat', 'k2': 'mouse', 'k3': 'dog', 'k4': 'fish', 'k5': 'cow'}

In [68]:
my_dict['k2'] = "chicken"
my_dict

{'k1': 'cat', 'k2': 'chicken', 'k3': 'dog', 'k4': 'fish', 'k5': 'cow'}

In [69]:
dep_workers = {'dep1': "Peter", "dep2": ['Jenny', 'Michael', 'Beth']}
dep_workers

{'dep1': 'Peter', 'dep2': ['Jenny', 'Michael', 'Beth']}

In [70]:
dep_workers["dep2"]

['Jenny', 'Michael', 'Beth']

In [71]:
team = {}
team['Point'] = "Alex"
team['Shooter'] = "Lambard"
team["Defense"] = "Terry"
team["Center"] = "Ashley"
team

{'Point': 'Alex', 'Shooter': 'Lambard', 'Defense': 'Terry', 'Center': 'Ashley'}

In [72]:
print(team["Center"])

Ashley

In [74]:
print(team.get("Defense"))

Terry

In [75]:
print(team.get("captain"))

None

In [76]:
even = [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [77]:
for i in even:
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [78]:
for j in even:
    print(j, end=" ")

0 2 4 6 8 10 12 14 16 18 20

In [79]:
bella = 0
while bella < 20:
    print(bella, end=" ")
    bella += 1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [80]:
range(10)

range(0, 10)

In [81]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
list(range(3, 7))

[3, 4, 5, 6]

In [83]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [84]:
for n in range(10):
    print(2**n, end=" ")

1 2 4 8 16 32 64 128 256 512

In [85]:
for x in range(20):
    if x % 2 == 0:
        print(x, end=" ")
    else:
        print("Odd", end=" ")

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

In [86]:
a4 = [0, 1, 2]

In [88]:
for i in range(len(a4)):
    print(a4[i], end=" ")

0 1 2

In [95]:
def count(num):
    total = 0
    for i in num:
        if i < 20:
            total += 1
    return total

In [96]:
list_2 = [1, 3, 7, 15, 23, 43, 56, 98]

In [97]:
count(list_2)

4

In [100]:
list_3 = [1, 3, 7, 15, 23, 43, 56, 98, 17]

In [101]:
count(list_3)

5

In [103]:
prices = {
    "spaghetti" : 4,
    "lasagna": 5,
    "burger": 2
}

quantity = {
    "spaghetti" : 6,
    "lasagna": 10,
    "burger": 0
}

money_spent = 0

for i in prices:
    money_spent += (prices[i] * quantity[i])

print(money_spent)

74