In [1]:
import numpy as np

In [4]:
lending_co_total_price = np.genfromtxt("Lending-Company-Total-Price.csv", delimiter=",", dtype = np.str, skip_header = 1, usecols=[1,2,4])
lending_co_total_price

array([['id_1', 'Product B', 'Location 2'],
       ['id_2', 'Product B', 'Location 3'],
       ['id_3', 'Product C', 'Location 5'],
       ...,
       ['id_413', 'Product B', 'Location 135'],
       ['id_414', 'Product C', 'Location 200'],
       ['id_415', 'Product A', 'Location 8']], dtype='<U12')

In [6]:
lending_co_total_price[:,0] = np.chararray.strip(lending_co_total_price[:,0], "id_") 
lending_co_total_price

array([['1', 'Product B', 'Location 2'],
       ['2', 'Product B', 'Location 3'],
       ['3', 'Product C', 'Location 5'],
       ...,
       ['413', 'Product B', 'Location 135'],
       ['414', 'Product C', 'Location 200'],
       ['415', 'Product A', 'Location 8']], dtype='<U12')

In [7]:
lending_co_total_price[:, 1] = np.chararray.strip(lending_co_total_price[:, 1], "Product ")
lending_co_total_price

array([['1', 'B', 'Location 2'],
       ['2', 'B', 'Location 3'],
       ['3', 'C', 'Location 5'],
       ...,
       ['413', 'B', 'Location 135'],
       ['414', 'C', 'Location 200'],
       ['415', 'A', 'Location 8']], dtype='<U12')

In [8]:
lending_co_total_price[:, 2] = np.chararray.strip(lending_co_total_price[:, 2], "Location ")
lending_co_total_price

array([['1', 'B', '2'],
       ['2', 'B', '3'],
       ['3', 'C', '5'],
       ...,
       ['413', 'B', '135'],
       ['414', 'C', '200'],
       ['415', 'A', '8']], dtype='<U12')

In [9]:
lending_co_total_price[:, 1] = np.where(lending_co_total_price[:, 1] == "A", 1, lending_co_total_price[:, 1])
lending_co_total_price[:, 1] = np.where(lending_co_total_price[:, 1] == "B", 2, lending_co_total_price[:, 1])
lending_co_total_price[:, 1] = np.where(lending_co_total_price[:, 1] == "C", 3, lending_co_total_price[:, 1])
lending_co_total_price[:, 1] = np.where(lending_co_total_price[:, 1] == "D", 4, lending_co_total_price[:, 1])
lending_co_total_price[:, 1] = np.where(lending_co_total_price[:, 1] == "E", 5, lending_co_total_price[:, 1])
lending_co_total_price[:, 1] = np.where(lending_co_total_price[:, 1] == "F", 6, lending_co_total_price[:, 1])
lending_co_total_price

array([['1', '2', '2'],
       ['2', '2', '3'],
       ['3', '3', '5'],
       ...,
       ['413', '2', '135'],
       ['414', '3', '200'],
       ['415', '1', '8']], dtype='<U12')

In [10]:
lending_co_total_price = lending_co_total_price.astype(dtype = np.int32)
lending_co_total_price

array([[  1,   2,   2],
       [  2,   2,   3],
       [  3,   3,   5],
       ...,
       [413,   2, 135],
       [414,   3, 200],
       [415,   1,   8]], dtype=int32)